@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Custom CSS styles */
body {
  font-family: "DM Sans", sans-serif;
  background-color: #e3edf8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1rem;
  text-align: center;
  padding-right: 70px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #eee;
}

.hero-section {
  color: #0b1215;
  text-align: center;
  padding: 100px 0;
}

.hero-section h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-register {
  font-size: 1.2rem;
  padding: 12px 40px;
}

main {
  flex: 1;
  padding: 2rem;
  margin-top: 20px;
}

.footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

@media (max-width: 600px) {
  nav ul li {
    display: block;
    margin: 0;
    padding: 10px;
  }

  main {
    padding: 15px;
  }
}
